*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* -----------------------------------------------------/Navbar start/------------------------------------------------------ */

.navbar{
    padding: 1.2em;
    height: auto;
}
.titleforsm{
    display: flex;
    justify-content: space-between;
}
.titleforsm h1{
    font-size: 1.6em;
}
.menubtn{
    font-size: 1.8em;
    border: unset;
    background-color: unset;
    color: skyblue;
    cursor: pointer;
}
.listsectionui li{
    list-style-type: none;
    padding: 0.4em 0;
    margin-bottom: 0.5em;
}
.listsectionui li:hover{
    background-color: whitesmoke;

}
.link{
    font-size: 1.2em;
    text-decoration: none;
    color: black;

}
.listsection{
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
/* -----------------------------------------------------/Navbar end/------------------------------------------------------ */



/* -----------------------------------------------------/Herosection start/------------------------------------------------------ */

.herosectiongrid{
    padding: 1.2em;
    height: auto;
    background-color: #ffdde1;
}
.leftherosection h1{
    font-size: 1.6em;
    margin-bottom: 1em;
}
.leftherosection p{
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 1em;
    text-align: justify;
}
.leftherosection h3{
    text-transform: capitalize;
    margin-bottom: 0.8em;
}
.inputtext{
    padding: 0.4em;
    font-size: 1em;
    height: 6vh;
    width: 100%;
    border-radius: 12px;
    border: unset;
    background-color: white;
    position: relative;
}
.getbtn{
    position: absolute;
    right: 6%;
    height: 6vh;
    font-size: 1em;
    color: white;
    background-color: purple;
    padding: 0.4em 0.6em;
    border-radius:12px ;
    cursor: pointer;
}
input:focus{
    outline: unset;
}
.rightherosection{
    position: relative;
    margin-bottom: 1em;
}
.laptopimg{
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 110px;
}
.mobileimg{
    position: absolute;
    width: 70%;
    top: 0%;
    height: 35%;
    border-radius: 12px;
    left: 0%;
    object-fit: cover;
    z-index: 999;
}
/* -----------------------------------------------------/Herosection end/------------------------------------------------------ */

/* -----------------------------------------------------/Navbar start /------------------------------------------------------ */
@media screen and (min-width:768px) {
    .listsection{
        height: auto !important;
        overflow: visible;
    }
    .menubtn{
       display: none;
    }
    nav{
        display: flex;
        justify-content: center;

    }
    .titleforsm h1{
        font-size: 1.8em;
    }

    .navbar{
        width: 90vw;
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
    }
    .listsectionui{
        display: flex;
    }
    .listsectionui li{
        margin-right: 1em;
        
    }
    .listsectionui li:hover{
        background-color: unset;
    
    }
    .link{
        font-size: 1.3em;
        text-decoration: none;
        color: black;
    
    }
    .link:hover{
        font-weight: bold;
    }


    
}
/* -----------------------------------------------------/Navbar end /------------------------------------------------------ */




/* -----------------------------------------------------/NewNavbar start /------------------------------------------------------ */

.newnavbarsectionlg{
    display: none;
}
.newnavbarsection{
    height: auto;
    padding:1.2em;
}
.newnavbarsectionmb{
    display: flex;
    justify-content: space-between;
}
.hambtn{
    border: unset;
    background-color: unset;
    color: skyblue;
    font-size: 1.9em;
    cursor: pointer;
}
.mainsection.show{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.detailmainsection{
    background-color: skyblue;
    height: 95vh;
    width: 90vw;
    border-radius: 12px;
    padding: 2em; 
}
.close{
    text-align: right;
}
.btnclose{
    border: unset;
    background-color: unset;
    font-size: 1.6em;
    cursor: pointer;
}
.mainsection{
    display: none;
}
.listoful{
    display: grid;
    grid-template-columns: 50% auto;
}
.listoful li {
    list-style-type: none;
    margin: 0.2em 0;
}
.innerlistsection{
    margin-top: 0.3em;
}

@media screen and (min-width:768px) {
   .hambtn{
       display: none;
   }
   .newnavbarsection{
       width: 100vw;
       height: 6vh;
       padding: 0 2.3em;
   }
   .newnavbarsection{
       display: flex;
       justify-content: space-between;
   }
   .newnavbarsectionlg{
       display: block;
   }
   .singbtn{
       background-color: unset;
       border: unset;
       background-color: black;
       color: white;
       height: 5vh;
       padding: 0.1em 1.1em ;
       border-radius: 12px;
       cursor: pointer;
   }
   .newnavbarsectionlg ul{
       display: flex;
       
   }
   .newnavbarsectionlg li{
       list-style-type: none;
       margin-right: 1em;
       font-size: 1.3em;
       margin-top: 0.3em;
   }
  .submenu.show{
      background-color: skyblue;
      height: 10vh;
      width: 100vw;
      visibility: visible;
     
  }
  .centerdiv{
      height: 100%;
      width: 15vw;
      background-color: purple;
  }
  .submenu{
      visibility: hidden;
  }

    
}
/* -----------------------------------------------------/NewNavbar end /------------------------------------------------------ */

